In [9]:
import pandas as pd
import os

# **Loading Data**

In [10]:
dir = "/home/erika/UCSD/UCSD/capstone/NLP_with_Disaster_Tweets/data/tweeter_disaster_text_analysis"
file = "train.csv"
file_path = os.path.join(dir,file)

df = pd.read_csv(file_path)

# **Exploring data**

In [13]:
df.head()

,id,keyword,location,text,target,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,1,ablaze,Birmingham,Our Deeds are the Reason of this #earthquake M...,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,4,ablaze,Est. September 2012 - Bristol,Forest fire near La Ronge Sask. Canada,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,5,ablaze,AFRICA,All residents asked to 'shelter in place' are ...,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,6,ablaze,"Philadelphia, PA","13,000 people receive #wildfires evacuation or...",1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,7,ablaze,"London, UK",Just got sent this photo from Ruby #Alaska as ...,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7613 entries, 0 to 7612
Data columns (total 14 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           7613 non-null   int64
 1   keyword      7583 non-null   object
 2   location     5108 non-null   object
 3   text         7612 non-null   object
 4   target       7610 non-null   object
 5   Unnamed: 5   414 non-null    object
 6   Unnamed: 6   79 non-null     object
 7   Unnamed: 7   23 non-null     object
 8   Unnamed: 8   13 non-null     object
 9   Unnamed: 9   5 non-null      object
 10  Unnamed: 10  5 non-null      object
 11  Unnamed: 11  3 non-null      object
 12  Unnamed: 12  2 non-null      object
 13  Unnamed: 13  1 non-null      float64
dtypes: float64(1), int64(1), object(12)
memory usage: 832.8+ KB

In [15]:
df.shape

(7613, 14)

### 1. Rows with columnns that contain commas.  csv has extended their value to the following columns.

In [24]:
## 408 rows out of 7613 that need to be fixed.

df.loc[(df["Unnamed: 13"].notnull())|(df["Unnamed: 12"].notnull())|(df["Unnamed: 11"].notnull())|(df["Unnamed: 10"].notnull())|(df["Unnamed: 9"].notnull())|(df["Unnamed: 8"].notnull())|(df["Unnamed: 7"].notnull())|(df["Unnamed: 6"].notnull())|(df["Unnamed: 5"].notnull())|(df["Unnamed: 5"].notnull())]

,id,keyword,location,text,target,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
21,32,ablaze,Est. September 2012 - Bristol,London is cool,),0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,71,ablaze,England.,First night with retainers in. It's quite weir...,I have to wear them every single night for th...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
62,89,ablaze,Twitter Lockout in progress,Rene Ablaze &amp,Jacinta - Secret 2k13 (Fallen Skies Edit) - M...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64,92,ablaze,"Calgary, AB",#NowPlaying: Rene Ablaze &amp,Ian Buff - Magnitude http://t.co/Av2JSjfFtc ...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
67,96,accident,CLVLND,'I can't have kids cuz I got in a bicycle acci...,split my testicles. it's impossible for me to...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7462,10678,wounds,"Tampa, FL",@NicolaClements4 IÛªm not sure that covering ...,),0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7463,10679,wounds,Not Steven Yeun / AMC.,@DauntedPsyche - Man gently dabbed the cotton ...,the pain a lot more worse than Glenn had ever -,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7479,10698,wreck,United States,@_PokemonCards_ @IceQueenFroslas why did they ...,-,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7510,10743,wreckage,WorldWide,#Australia #News,RT janeenorman: 'High probability' aircraft w...,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7544,10785,wrecked,"Brooklyn, NY",Wrecked an hour on YouTube with @julian_lage @...,@RossMartin7 and now it's practice time again.,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# **Cleaning data**

In [ ]:
# number of commas at the end

In [ ]:
list = []
dic = {}
with open (file, "r") as f:
    line = f.readline()
    commas = 
    dic["text"] = line

In [10]:
df["Unnamed: 13"].unique()

array([nan,  0.])

In [14]:
df.loc[df["Unnamed: 13"].notnull()]

,id,keyword,location,text,target,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
344,493,armageddon,#FLIGHTCITY UK,**OFFICIAL VID** #TheReal &gt,&gt,&gt,https://t.co/4i0Rjc9RQU &gt,&gt,&gt,@TrubGME &gt,&gt,&gt,#ARMAGEDDON Comin Soon!!,0.0

In [17]:
# Checking missing values

In [ ]:
# Target value counts. Counts of 1 and zero in target

In [18]:
# keyword frequency in Keyword column

In [ ]:
# Location frequency

In [4]:
# terms frequency in text colum

In [5]:
# 100 most common words in the text column

In [6]:
# 100 most common words in text column when target is 1

In [7]:
# 100 most common words in text column when target is 0

In [ ]:
# common words in text column when target is 1 and 0.  We can find out what terms might be missinterpreted as an emergency